In [2]:
import os
import pandas as pd
from github import Github
from credentials import username, password
from data_API import dataAPI

In [3]:
g = Github(username(), password())  # credentials for github login
repos = g.get_user().get_repos()  # iterable; all the repos associated with the profile incl. organizations

In [4]:
api_data = dataAPI(repos, '2is50-2019-2020-homework-assignment-1-pair-')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63

## Aggregate Data

In [5]:
df_data = pd.DataFrame(api_data)
all_unique_pairs = df_data['Pair'].unique()

### 1. Make dataset with commit size - additions & deletions

In [6]:
grouped_data = df_data.groupby(by=['Pair','Date','Author']).describe()

x = grouped_data['Additions'][['max']].reset_index()
x['Deletions'] = grouped_data['Deletions'][['max']].reset_index()['max']
x = x.rename(columns={'max': 'Additions'})
grouped_data = x

In [7]:
aggregated_list = []

for pair in all_unique_pairs:

    df_pair = grouped_data[grouped_data['Pair'] == pair]

    members = df_pair['Author'].unique()

    if len(members) == 2: # best scenario

        for date in df_pair['Date'].unique():

            df_pair_date = df_pair[df_pair['Date'] == date]
            m_1 = df_pair_date[df_pair_date['Author'] == members[0]]
            m_2 = df_pair_date[df_pair_date['Author'] == members[1]]

            m1_additions = df_pair_date[df_pair_date['Author'] == members[0]]['Additions'].sum()
            m2_additions = df_pair_date[df_pair_date['Author'] == members[1]]['Additions'].sum()

            m1_deletions = df_pair_date[df_pair_date['Author'] == members[0]]['Deletions'].sum()
            m2_deletions = df_pair_date[df_pair_date['Author'] == members[0]]['Deletions'].sum()


            aggregated_list.append([pair, date, m1_additions, m2_additions, m1_deletions, m2_deletions])

    elif len(members) > 2: 

        custom_more = []

        for date in df_pair['Date'].unique():

            df_pair_date = df_pair[df_pair['Date'] == date]

            m1_additions = df_pair_date[df_pair_date['Author'] == members[0]]['Additions'].sum()
            m2_additions = df_pair_date[df_pair_date['Author'] == members[1]]['Additions'].sum()
            m2_additions += df_pair_date[df_pair_date['Author'] == members[2]]['Additions'].sum()


            m1_deletions = df_pair_date[df_pair_date['Author'] == members[0]]['Deletions'].sum()
            m2_deletions = df_pair_date[df_pair_date['Author'] == members[0]]['Deletions'].sum()
            m2_deletions += df_pair_date[df_pair_date['Author'] == members[2]]['Deletions'].sum()

            custom_more.append([pair, date, m1_additions, m2_additions, m1_deletions, m2_deletions])

        aggregated_list += custom_more 

    elif len(members) < 2: 

        custom_less = []

        for date in df_pair['Date'].unique():

            df_pair_date = df_pair[df_pair['Date'] == date]

            m1_additions = df_pair_date[df_pair_date['Author'] == members[0]]['Additions'].sum()
            m2_additions = 0

            m1_deletions = df_pair_date[df_pair_date['Author'] == members[0]]['Deletions'].sum()
            m2_deletions = 0

            custom_less.append([pair, date, m1_additions, m2_additions, m1_deletions, m2_deletions])

        aggregated_list += custom_less

In [8]:
cols = ['Pair', 'Date', 'M1_Additions', 'M2_Additions', 'M1_deletions', 'M2_deletions']
df_aggregated_member = pd.DataFrame(aggregated_list, columns=cols).sort_values(by='Pair')
#df_aggregated_member['Total'] = df_aggregated_member['Member_1'] + df_aggregated_member['Member_2']

In [17]:
df_aggregated_member

     Pair        Date  M1_Additions  M2_Additions  M1_deletions  M2_deletions
85      2  2020-04-30           9.0           0.0           9.0           9.0
92      2  2020-05-14          44.0          62.0          37.0          37.0
90      2  2020-05-06          34.0           0.0          20.0          20.0
89      2  2020-05-05           0.0          30.0           0.0           0.0
91      2  2020-05-13          44.0          41.0          41.0          41.0
..    ...         ...           ...           ...           ...           ...
371    89  2020-05-07          24.0          28.0          13.0          13.0
370    89  2020-05-06          14.0           0.0           8.0           8.0
374    89  2020-05-18           0.0           0.0           0.0           0.0
383    90  2020-05-05          10.0          15.0           9.0           9.0
384    90  2020-05-07           0.0          53.0           0.0           0.0

[385 rows x 6 columns]

### 2. Make Dataset with total of additions + deletions

In [19]:
df_total_size = df_aggregated_member#[['Pair', 'Date']]
df_total_size['Member_1'] = df_aggregated_member['M1_Additions'] + df_aggregated_member['M1_deletions']
df_total_size['Member_2'] = df_aggregated_member['M2_Additions'] + df_aggregated_member['M2_deletions']
df_total_size['Total'] = df_total_size['Member_1'] + df_total_size['Member_2']

In [20]:
df_total_size

,Pair,Date,M1_Additions,M2_Additions,M1_deletions,M2_deletions,Member_1,Member_2,Total
85,2,2020-04-30,9.0,0.0,9.0,9.0,18.0,9.0,27.0
92,2,2020-05-14,44.0,62.0,37.0,37.0,81.0,99.0,180.0
90,2,2020-05-06,34.0,0.0,20.0,20.0,54.0,20.0,74.0
89,2,2020-05-05,0.0,30.0,0.0,0.0,0.0,30.0,30.0
91,2,2020-05-13,44.0,41.0,41.0,41.0,85.0,82.0,167.0
...,...,...,...,...,...,...,...,...,...
371,89,2020-05-07,24.0,28.0,13.0,13.0,37.0,41.0,78.0
370,89,2020-05-06,14.0,0.0,8.0,8.0,22.0,8.0,30.0
374,89,2020-05-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0
383,90,2020-05-05,10.0,15.0,9.0,9.0,19.0,24.0,43.0
384,90,2020-05-07,0.0,53.0,0.0,0.0,0.0,53.0,53.0

In [21]:
df_total_size.to_csv("../data/commit_sizes_ha1.csv", index=False)

### 3. Make dataset with commits

In [12]:
grouped_data = df_data.groupby(by=['Pair','Date','Author']).describe()
grouped_data = grouped_data['Additions'][['count']].reset_index()

In [13]:
aggregated_list = []

for pair in all_unique_pairs:

    df_pair = grouped_data[grouped_data['Pair'] == pair]

    members = df_pair['Author'].unique()

    if len(members) == 2: # best scenario

        for date in df_pair['Date'].unique():

            df_pair_date = df_pair[df_pair['Date'] == date]
            m_1 = df_pair_date[df_pair_date['Author'] == members[0]]['count'].sum()
            m_2 = df_pair_date[df_pair_date['Author'] == members[1]]['count'].sum()

            aggregated_list.append([pair, date, m_1, m_2])

    elif len(members) > 2:

        custom_more = []

        for date in df_pair['Date'].unique():

            df_pair_date = df_pair[df_pair['Date'] == date]
            m_1 = df_pair_date[df_pair_date['Author'] == members[0]]['count'].sum()
            m_2 = df_pair_date[df_pair_date['Author'] == members[1]]['count'].sum()
            m_2 += df_pair_date[df_pair_date['Author'] == members[2]]['count'].sum()

            custom_more.append([pair, date, m_1, m_2])

        aggregated_list += custom_more 

    elif len(members) < 2:

        custom_less = []

        for date in df_pair['Date'].unique():

            df_pair_date = df_pair[df_pair['Date'] == date]
            m_1 = df_pair_date[df_pair_date['Author'] == members[0]]['count'].sum()
            m_2 = 0

            custom_less.append([pair, date, m_1, m_2])

        aggregated_list += custom_less

In [14]:
cols = ['Pair', 'Date', 'Member_1', 'Member_2']
df_commits = pd.DataFrame(aggregated_list, columns=cols).sort_values(by='Pair')
df_commits['Total'] = df_commits['Member_1'] + df_commits['Member_2']

In [15]:
df_commits.to_csv("../data/commit_numbers_ha1.csv", index=False)

In [16]:
df_commits

     Pair        Date  Member_1  Member_2  Total
85      2  2020-04-30       1.0       0.0    1.0
92      2  2020-05-14       3.0       4.0    7.0
90      2  2020-05-06       4.0       0.0    4.0
89      2  2020-05-05       0.0       2.0    2.0
91      2  2020-05-13       4.0       5.0    9.0
..    ...         ...       ...       ...    ...
371    89  2020-05-07       9.0       3.0   12.0
370    89  2020-05-06       2.0       0.0    2.0
374    89  2020-05-18       1.0       0.0    1.0
383    90  2020-05-05       6.0       3.0    9.0
384    90  2020-05-07       0.0       4.0    4.0

[385 rows x 5 columns]